# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# members of @CodeReviewers will be requested for
# pull request approvals
*       @UCoE-Git/CodeReviewers
